<p style="color: green"><%= notice %></p>

<h1>Food intakes</h1>

<div id="food_intakes">
  <% @food_intakes.each do |food_intake| %>
    <%= render food_intake %>
    <p>
      <%= link_to "Show this food intake", food_intake %>
    </p>
  <% end %>
</div>

<%= link_to "New food intake", new_food_intake_path %>
