<div class="mb-4">
  <h2> 🌮 All Food </h2>
  <div id="food_intakes">
    <table>
      <tr>
        <th class="name">Name</th>
        <th>Amount</th>
        <th>Intake time</th>
        <th colspan="2">Actions</th>
      </tr>
      <% @food_intakes.each do |food_intake| %>
        <%= render food_intake %>
      <% end %>
    </table>
  </div>
  <hr/>
  <%= button_to "New food intake", new_food_intake_path, method: :get, class: "btn btn-primary" %>
</div>
